<html xmlns:th= "http://www.thymeleaf.org">
<h1>boardView</h1>
<a href = "/boardAdd">[글작성]</a>
<a href = "/boardList">[글목록]</a>
<table border="1">
	<tr>
		<td>No</td>
		<td th:text="${board.boardNo}"></td>				
	</tr>	
	<tr>
		<td>제목</td>
		<td th:text="${board.boardTitle}"></td>					
	</tr>
	<tr>
		<td>글쓴이</td>
		<td th:text="${board.boardUser}"></td>	
		
	</tr>
	<tr>
		<td>내용</td>
		<td th:text="${board.boardContent}" ></td>			
	</tr>	
</table>
<a th:href = "@{/boardUpdate(boardNo=${board.boardNo})}">수정</a>
<a th:href = "@{/boardRemove(boardNo=${board.boardNo})}">삭제</a>