<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$('#insert').click(function(){
		if($('#title').val() == "") {
			$('#titleDiv').text('제목을 입력하세요.');
			$('#title').focus();
		} else if($('#content').val() == "") {			
			$('#titleDiv').text('');
			$('#contentDiv').text('내용을 입력하세요.');
			$('#content').focus();
		} else if($('#user').val() == "") {
			$('#titleDiv').text('');
			$('#contentDiv').text('');
			$('#userDiv').text('이름을 입력하세요.');
			$('#user').focus();
		} else if($('#pw').val().length <4) {
			$('#titleDiv').text('');
			$('#contentDiv').text('');
			$('#userDiv').text('');
			$('#pwDiv').text('비밀번호는 4자 이상 입력해야 합니다.');
			$('#pw').focus();
		} else {
			$('#form').submit();
		}	
	});	
});
</script>
</head>
<body>
<h1>boardAdd</h1>
	<a href = "/boardList">[글목록]</a>
	<!-- 화면에 입력된 데이터를  post방식으로 /boardAdd로 전송 -->
	<form id="form" action = "/boardAdd" method="post">	
		제 목 : <input type="text" id="title" name="boardTitle" value=""> <span id="titleDiv"></span> <br>
		내 용 : <textarea name="boardContent" id="content" value=""></textarea> <span id="contentDiv"></span> <br>
		글쓴이 : <input type="text" name="boardUser" id="user" value=""> <span id="userDiv"></span> <br>
		비밀번호 : <input type="text" name="boardPw" id="pw" value=""> <span id="pwDiv"></span> <br>
		<input type="button" id="insert" value="글 작성"> <br>
	</form>
	 
</body>